html *{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background: #eee;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

label {
  margin: 20px;
}

.header {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  vertical-align: middle;
  background-color: #999;
  text-align: center;
  box-shadow: 5px 0px 30px #000;
}

.menucontainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.search {
  left: 10px;
  position: absolute;
  width: 23px;
  overflow: hidden;
  white-space: nowrap;
  min-width: 10px;
  height: 25px;
  background-color: orangered;
  margin-top: 100px;
  box-shadow: 5px 5px 30px #333;
  transition: .2s;
  border-radius: 6px;
  z-index: 110;
  text-align: center;
}

.search:hover {
  width: 340px;
  height: 420px;
  transition: .4s ease-in-out;
  left: 15px;
  padding: 10px;
}

.about {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  height: 22px;
  background-color: orangered;
  margin-top: 600px;
  box-shadow: 0 -5px 30px #333;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  z-index: 110;
}

.about:hover {
  position: absolute;
  animation: 1s ease-in-out normal forwards info;
}

.open {
  height: 100vh;
  width: 100%;
  background-image: url("http://68.media.tumblr.com/tumblr_m3shsqqqqJ1qbgguvo1_1280.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.opac{
  opacity: 0.85;
}

@keyframes info {
  0% {
    bottom: 15px;
  }
  
  50% {
    width: 30px;
    height: 300px;
    bottom: 20px;
    right: 15px;
  }
  100% {
    height: 300px;
    width: 500px;
    right: 20px;
    bottom: 20px;
  }
}

.card {
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 410px;
  background: #fff;
  margin: 100px -290px;
  left: 50%;
  box-shadow: 2px 2px 15px #333;
  z-index: 80;
  padding: 10px;
  vertical-align: top;
  white-space: normal;
  opacity: 0;
  transform: translateX(-1500px);
  transition: .5s;
}

.card.focusPre{
  display: inline-block;
  opacity: .5;
  transform: translateX(-700px);
  transition: .5s;
  z-index: 90;
  width: 580px;
}

.card.focus {
  display: inline-block;
  opacity: 1;
  transition: .5s;
  z-index: 100;
  width: 580px;
  transform: none;
}

.card.focusPost {
  display: inline-block;
  opacity: .5;
  transform: translateX(700px);
  transition: .5s;
  z-index: 90;
  width: 580px;
}

.card.focusPost ~ div {
    transform: translateX(1500px);
    opacity: 0;
}

.card div.img {
  position: absolute;
  right: 10px;
  width: 284px;
  height: 405px;
}

.card div.img img{
  width: 100%;
  height: 100%;
}

.card div+div {
  width: 285px;
  margin-bottom: 10px;
}

table, td {
  margin: 20px 0 0 72px;
  cursor: pointer;
  padding: 1px 3px;
}

table {
  border: 1px solid #333;
}

.left, .right {
  position: absolute;
  bottom: 15px;
  height: 22px;
  width: 30px;
  z-index: 90;
}
.left {
  right: 50%;
}

.right {
  left: 50%;
}

.invalid{
  opacity: .4;
}

#itemContainer {
  height: 700px;
  width: 100%;
  white-space: nowrap;
  
}

select{
  border-radius: 4px;
  padding: 3px;
}

[type="button"], [type="button"]:focus  {
  border: none;
  outline: none;
  height: 40px;
  width: 55px;
  font-size: 20pt;
  vertical-align: middle;
  text-align: center;
  margin: 2px;
  cursor: pointer;
}

.cast, .desc {
  font-size: 11pt;
}