doctype
head
body
  .open
  .menucontainer
    .header
      h1 The Art Of Nicholas Cage
    .search.opac 🔎
      form
        label(for="title") Title
        input#title
        br
        label(for="year") Year
        input#year
      table
        th
          td Title
          td Year
        tr
          td
          td Con Air
          td 1996 
        tr
          td
          td Ghostrider
          td 2002
    .about.opac ℹ 
      p lorem ipsum dolor et
    .card
      .img
      span title
      br
      span year
      br
      span cast
      p plotplotplot
    .card
      .img
      span title
      br
      span year
      br
      span cast
      p plotplotplot
    .card
      .img
      span title
      br
      span year
      br
      span cast
      p plotplotplot
    input.left(type="button" value="⇦")
    input.right(type="button" value="⇨")